form {
  display: flex;
  align-items: center;
  padding: 1em;
}

input {
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #444444;
  width: 100%;
}

input:focus {
  border: 1px solid #00ffaa;
  outline: 3px solid #00ffaa13;
  color: white;
  background: #00ffaa13;
}

::placeholder {
  color: rgb(180, 180, 180);
}
