.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 72px;
  margin-top: 1em;
  p {
    margin: 0.5em 0 1em;
    padding: 0 0 2em;
    border-bottom: 1px solid #e7e7e9;
  }

  ul {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    list-style: none;
    margin: 1em 0;
    padding: 0 0 2em;
    border-bottom: 1px solid #e7e7e9;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 1em;
      height: 65px;
      border: 1px solid #e7e7e9;
      background: #fff;
      transition: 0.1s ease-in-out;
      font-size: 0.875rem;
      font-weight: 600;
      cursor: pointer;
      img {
        width: 20%;
        object-fit: cover;
      }
      &:hover {
        background: #f7fffc;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
      }
    }
  }
}
