header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 8em;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  nav {
    display: flex;
    align-items: center;
    gap: 2em;
  }
  nav ul {
    display: flex;
    gap: 2em;
    list-style: none;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    color: rgb(72, 75, 99);
    line-height: 50px;
  }
}

.header-auth {
  display: flex;
  gap: 1em;
  align-items: center;
  p {
    font-size: 14px;
    color: $primary;
  }
}
